$scrollbar-color: gray;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba($scrollbar-color, 0.4);

  &:window-inactive {
    background-color: rgba($scrollbar-color, 0.2);
  }

  &:active {
    background-color: rgba($scrollbar-color, 0.6);
  }
}
